pkgbase = nightpanel
	pkgdesc = Visual keyboard configuration + system-wide dark-mode orchestrator for GNOME
	pkgver = 0.2.1
	pkgrel = 1
	url = https://github.com/gregfelice/nightpanel
	arch = any
	license = GPL-3.0-or-later
	makedepends = meson
	makedepends = ninja
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = gtk4>=4.10
	depends = libadwaita>=1.4
	depends = python
	depends = python-gobject
	depends = python-pydantic
	depends = python-tomli-w
	depends = dconf
	optdepends = gnome-shell-extension-tiling-assistant: Tiling Assistant shortcut support
	provides = dailydriver
	conflicts = dailydriver
	replaces = dailydriver
	source = nightpanel-0.2.1.tar.gz::https://github.com/gregfelice/nightpanel/archive/refs/tags/v0.2.1.tar.gz
	sha256sums = 332a5639370a426bf2f8721040ba2168d06f64618a14881508107561926a9e48

pkgname = nightpanel
